<!DOCTYPE html>
<html lang="en">
<head>

    {% load static %}
<script src="https://code.jquery.com/jquery-1.12.4.min.js"
        integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--    Load Bootstrap via CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/formstyle.css' %}">
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {#    Tags input#}
    <link href="https://cdn.jsdelivr.net/bootstrap.tagsinput/0.8.0/bootstrap-tagsinput.css" rel="stylesheet"/>

### MAPS
     <style type="text/css">
          #map{ width:700px; height: 500px; }
        </style>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>
        <title>Save Marker Example</title>


</head>
<body>

<form method = POST enctype="multipart/form-data">
{% csrf_token %}
<div class="card text-white bg-primary mb-3" style="max-width: 66rem;">
    {% for DataType in DataType.all %}
 <div class="card-header">Add Fields for the {{DataType}} DataType!</div>
    {%  endfor %}

        Title:
        <input type="text" name="title" id="title" style="color: #000000;"><br>
        Description:
        <input type="text" color="black" name="description" style="color: #000000;"><br>
<!--        Cemantic Tags:-->
<!--        <input type="text" data-role="tagsinput" name="tags"><br>-->



{% for Field in Field.all %}

     {{Field.name}}
  <p><input type="{{Field.field_type}}" name="{{Field.name}}" style="color: #000000;" width="100%"><br></p>

    {% if Field.enumerated == "Yes"%}
            <select class="form-control" class="form-control" id="{{Field.name}}" name="{{Field.name}}">
                {% if field.required == "No" %}
                <option>[Leave Empty]</option>
                {% endif %}
                {% for option in field.options %}
                <option>{{option}}</option>
                {% endfor %}
            </select>
    {% endif  %}

   {% if Field.field_type == "Image" %}
    <label for="id_image">Image:</label>
    <p><input type="file" name="image" accept="image/*" required id="id_image" width="100%">
    </p>

    {% endif  %}

    {% if Field.field_type == "Date" %}
            <input type="Date" class="form-control" id="{{Field.name}}" aria-describedby="{{Field.name}}"
                placeholder="Enter {{Field.name}}" name="{{Field.name}}">
    {% endif  %}
    {% if Field.field_type == "Time" %}
            <input type="Time" class="form-control" id="{{Field.name}}" aria-describedby="{{Field.name}}"
                placeholder="Enter {{Field.name}}" name="{{Field.name}}">
    {% endif  %}
    {% if Field.field_type == "Integer" %}
            <input type="number" class="form-control" id="{{Field.name}}" aria-describedby="{{Field.name}}"
                placeholder="Enter {{Field.name}}" name="{{Field.name}}">
    {% endif  %}
    {% if Field.field_type == "Text" %}
            <input type="text" class="form-control" id="{{Field.name}}" aria-describedby="{{Field.name}}"
                placeholder="Enter {{Field.name}}" name="{{Field.name}}">
    {% endif  %}
    {% if Field.field_type == "Decimal Number" %}
            <input type="number" step=0.01 class="form-control" id="{{Field.name}}" aria-describedby="{{Field.name}}"
                placeholder="Enter {{Field.name}}" name="{{Field.name}}">
    {% endif  %}
    {% if Field.field_type == "Geolocation" %}
            <input type="text" step=0.01 class="form-control" id="geolocation" aria-describedby="{{Field.name}}"
                placeholder="Enter {{Field.name}}" name="{{Field.name}}">

    {% endif  %}



 {% endfor %}
<div class="form-group" onsubmit="">
    <p><label for="tags">Semantic Tags</label></p>
                <input type="text" id="semantictags"  class="floatLabel" name="tags" data-role="tagsinput" width="100%" style="color: #000000;">
<!--                <p><input type="button" i onclick="addTag() " style="color: #000000;"  value="Continue to Create Post"></p>-->
             <a href = "{% url 'addTag'  %}">
            <button type="button" style="color: #000000;" name="tagbutton">Search Tags</button>
             </a>
            <button type="button" onclick="addTag()" style="color: #000000;" name="receivetag">Receive Tags</button>

</div>



<p><input type="submit" style="color: #000000;"></p>

</div>
    {% for x in Allfields.keys %}
    <p><label>{{x}}</label></p>

    {% endfor %}

    {% for y in Allfields.values %}
    <p><label>{{y}}</label></p>
    {% endfor %}


    {% for f in fields.fields %}
    <p><label>{{f.name}} : {{f.value}}</label></p>
    {% endfor %}



</form>

<button onclick="getLocation()">Where am I?</button>
<p id="location"></p>


<script>


window.onload = addTag();

function addTag() {
    document.getElementById("semantictags").value = localStorage.getItem("labeltag");
    document.getElementById("semantictags").innerHTML = localStorage.getItem("labeltag");
}

window.onload = initMap();

var map; //Will contain map object.
var marker = false; ////Has the user plotted their location marker?

//Function called to initialize / create the map.
//This is called when the page has loaded.
function initMap() {

    //The center location of our map.
    var centerOfMap = new google.maps.LatLng(52.357971, -6.516758);

    //Map options.
    var options = {
      center: centerOfMap, //Set center.
      zoom: 7 //The zoom value.
    };

    //Create the map object.
    map = new google.maps(document.getElementById('map'), options);

    //Listen for any clicks on the map.
    google.maps.event.addListener(map, 'click', function(event) {
        //Get the location that the user clicked.
        var clickedLocation = event.latLng;
        //If the marker hasn't been added.
        if(marker === false){
            //Create the marker.
            marker = new google.maps.Marker({
                position: clickedLocation,
                map: map,
                draggable: true //make it draggable
            });
            //Listen for drag events!
            google.maps.event.addListener(marker, 'dragend', function(event){
                markerLocation();
            });
        } else{
            //Marker has already been added, so just change its location.
            marker.setPosition(clickedLocation);
        }
        //Get the marker's location.
        markerLocation();
    });
}

//This function will get the marker's current location and then add the lat/long
//values to our textfields so that we can save the location.
function markerLocation(){
    //Get location.
    var currentLocation = marker.getPosition();
    //Add lat and lng values to a field that we can save.
    document.getElementById('lat').value = currentLocation.lat(); //latitude
    document.getElementById('lng').value = currentLocation.lng(); //longitude
}


//Load the map when the page has finished loading.
google.maps.event.addDomListener(window, 'load', initMap);


function getLocation()
{
  // Check whether browser supports Geolocation API or not
  if (navigator.geolocation) { // Supported

    // To add PositionOptions

	navigator.geolocation.getCurrentPosition(getPosition);
  } else { // Not supported
	alert("Oops! This browser does not support HTML Geolocation.");
  }
}
function getPosition(position)
{
  document.getElementById("location").innerHTML =
	  "Latitude: " + position.coords.latitude + "<br>" +
	  "Longitude: " + position.coords.longitude;
	  document.getElementById("geolocation").value = " " + position.coords.latitude +
	  "," + position.coords.longitude;
}



</script>


</body>
<!-- Include jQuery -->
{#<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"#}
{#        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"#}
{#        crossorigin="anonymous"></script>#}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<!--Load Bootstrap JavaScript-->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/bootstrap.tagsinput/0.8.0/bootstrap-tagsinput.min.js"></script>


